In [1]:
from pymuller import muller
import numpy as np
import pandas as pd

In [2]:
#Import counts matrix
genotypes = ["00","01","10","11"]
game0_df = pd.read_csv("nogame.csv")
game0_df.columns=genotypes
game0_df

         00        01        10          11
0     215.5       0.0       0.0         0.0
1     232.0       2.0       0.0         0.0
2     253.0       2.0       2.5         0.0
3     267.0       2.5       2.5         0.0
4     286.5       3.0       5.0         0.0
..      ...       ...       ...         ...
294  5456.5  221129.0  208186.5  12114787.5
295  5456.5  221129.0  208186.5  12114787.5
296  5456.5  221129.0  208186.5  12114787.5
297  5456.5  221129.0  208186.5  12114787.5
298  5456.5  221129.0  208186.5  12114787.5

[299 rows x 4 columns]

In [3]:
#Import counts matrix
genotypes = ["00","01","10","11"]
game3_df = pd.read_csv("game3.csv")
game3_df.columns=genotypes
game3_df

            00         01         10         11
0        214.5        0.5        0.5        0.0
1        224.0        1.5        1.0        0.0
2        236.5        1.5        1.0        0.0
3        256.0        1.5        1.0        0.0
4        271.0        2.5        1.0        0.0
..         ...        ...        ...        ...
294  2512857.0  2499789.5  2364095.0  3295685.5
295  2512857.0  2499789.5  2364095.0  3295685.5
296  2512857.0  2499789.5  2364095.0  3295685.5
297  2512857.0  2499789.5  2364095.0  3295685.5
298  2512857.0  2499789.5  2364095.0  3295685.5

[299 rows x 4 columns]

In [4]:
#Import counts matrix
genotypes = ["00","01","10","11"]
game1_df = pd.read_csv("game1.csv")
game1_df.columns=genotypes
game1_df

          00        01        10          11
0      209.5       0.5       1.0         0.0
1      226.5       0.5       2.5         0.0
2      243.0       0.5       2.0         0.0
3      256.5       1.0       2.5         0.0
4      271.0       2.0       2.5         0.0
..       ...       ...       ...         ...
294  50659.0  244090.5  273597.0  10231060.5
295  50659.0  244090.5  273597.0  10231060.5
296  50659.0  244090.5  273597.0  10231060.5
297  50659.0  244090.5  273597.0  10231060.5
298  50659.0  244090.5  273597.0  10231060.5

[299 rows x 4 columns]

In [5]:
#Import counts matrix
genotypes = ["00","01","10","11"]
game2_df = pd.read_csv("game2.csv")
game2_df.columns=genotypes
game2_df

            00        01        10         11
0        216.5       0.0       0.0        0.0
1        228.0       0.0       1.0        0.0
2        239.0       1.5       1.0        0.0
3        255.5       2.0       1.5        0.0
4        273.5       2.0       1.5        0.0
..         ...       ...       ...        ...
294  2293354.5  973283.5  551060.0  8697085.0
295  2293354.5  973283.5  551060.0  8697085.0
296  2293354.5  973283.5  551060.0  8697085.0
297  2293354.5  973283.5  551060.0  8697085.0
298  2293354.5  973283.5  551060.0  8697085.0

[299 rows x 4 columns]

In [6]:
#Import counts matrix
genotypes = ["00","01","10","11"]
game4_df = pd.read_csv("game4.csv")
game4_df.columns=genotypes
game4_df

            00         01         10        11
0        209.0        0.0        0.5       0.0
1        218.5        1.0        0.5       0.0
2        234.0        1.0        1.5       0.0
3        244.5        3.0        2.0       0.0
4        263.0        3.0        2.0       0.0
..         ...        ...        ...       ...
294  5732505.5  2884744.5  1272940.0  211258.5
295  5732505.5  2884744.5  1272940.0  211258.5
296  5732505.5  2884744.5  1272940.0  211258.5
297  5732505.5  2884744.5  1272940.0  211258.5
298  5732505.5  2884744.5  1272940.0  211258.5

[299 rows x 4 columns]

In [7]:
df = game0_df
ngens = len(df["00"])
IdentityVec = ["00", "01", "10", "11"]
Gen= list(range(0,ngens))*4
ID = list(np.repeat(IdentityVec,ngens))
len(ID)
d = {"Generation": Gen, "Identity":ID, "Population":list(df["00"])+list(df["01"])+list(df["10"])+list(df["11"])}

populations_df = pd.DataFrame(d)
adjacency_df=pd.DataFrame({"Parent":["00", "00", "01"], "Identity":["01", "10", "11"]})

populations_df.to_csv("pop0.csv")
adjacency_df.to_csv("edges0.csv")

In [8]:
df = game2_df
ngens = len(df["00"])
IdentityVec = ["00", "01", "10", "11"]
Gen= list(range(0,ngens))*4
ID = list(np.repeat(IdentityVec,ngens))
len(ID)
d = {"Generation": Gen, "Identity":ID, "Population":list(df["00"])+list(df["01"])+list(df["10"])+list(df["11"])}

populations_df = pd.DataFrame(d)
adjacency_df=pd.DataFrame({"Parent":["00", "00", "01"], "Identity":["01", "10", "11"]})

populations_df.to_csv("pop2.csv")
adjacency_df.to_csv("edges2.csv")

In [ ]:
df = game1_df
ngens = len(df["00"])
IdentityVec = ["00", "01", "10", "11"]
Gen= list(range(0,ngens))*4
ID = list(np.repeat(IdentityVec,ngens))
len(ID)
d = {"Generation": Gen, "Identity":ID, "Population":list(df["00"])+list(df["01"])+list(df["10"])+list(df["11"])}

populations_df = pd.DataFrame(d)
adjacency_df=pd.DataFrame({"Parent":["00", "00", "01"], "Identity":["01", "10", "11"]})

populations_df.to_csv("pop1.csv")
adjacency_df.to_csv("edges1.csv")

In [9]:
df = game3_df
ngens = len(df["00"])
IdentityVec = ["00", "01", "10", "11"]
Gen= list(range(0,ngens))*4
ID = list(np.repeat(IdentityVec,ngens))
len(ID)
d = {"Generation": Gen, "Identity":ID, "Population":list(df["00"])+list(df["01"])+list(df["10"])+list(df["11"])}

populations_df = pd.DataFrame(d)
adjacency_df=pd.DataFrame({"Parent":["00", "00", "01"], "Identity":["01", "10", "11"]})

populations_df.to_csv("pop3.csv")
adjacency_df.to_csv("edges3.csv")

In [10]:
df = game4_df
ngens = len(df["00"])
IdentityVec = ["00", "01", "10", "11"]
Gen= list(range(0,ngens))*4
ID = list(np.repeat(IdentityVec,ngens))
len(ID)
d = {"Generation": Gen, "Identity":ID, "Population":list(df["00"])+list(df["01"])+list(df["10"])+list(df["11"])}

populations_df = pd.DataFrame(d)
adjacency_df=pd.DataFrame({"Parent":["00", "00", "01"], "Identity":["01", "10", "11"]})

populations_df.to_csv("pop4.csv")
adjacency_df.to_csv("edges4.csv")

In [ ]:
muller(populations_df, adjacency_df, color_by)